* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  border: none;
  outline: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  overflow: auto;
  margin-top: 5rem;
}

.container {
  width: min(93.75rem, 90%);
  margin: 0 auto 3rem;
}
