* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  border: none;
  outline: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  overflow: auto;
  margin-top: 5rem;
}

.container {
  width: min(93.75rem, 90%);
  margin: 0 auto 3rem;
}

section {
  margin-bottom: 3rem;
}

main section:first-of-type {
  padding-top: clamp(2rem, 1.571rem + 1.905vi, 3rem);
}

.sectionTitle {
  font-size: clamp(1.125rem, 0.857rem + 1.19vi, 1.75rem);
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: clamp(1.5rem, 1.071rem + 1.905vi, 2.5rem);
}

.sectionTitle::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  width: clamp(4rem, 1.214rem + 12.381vi, 10.5rem);
  height: 1px;
  background: rgb(216, 97, 60);
}

p {
  font-size: clamp(0.875rem, 0.768rem + 0.476vi, 1.125rem);
  line-height: 1.3;
}
