.header {
  background-color: #000;
  color: #fff;
  border: 1px solid blue;
}

.navBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  gap: 0.375rem;
}

.line {
  display: block;
}
