.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 5rem;
}

.navBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: auto;
  height: 100%;
}

.logoContainer {
  display: flex;
}

.logoContainer img {
  transform: scale(0.7);
}

.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big {
  font-size: clamp(0.875rem, 0.559rem + 1.404vi, 1.875rem);
  font-weight: 700;
}

.small {
  font-size: clamp(0.75rem, 0.474rem + 1.228vi, 1.625rem);
}

.line {
  display: block;
}

.iconsBox {
  display: none;
}

.menuItems {
  display: flex;
  gap: 1rem;
}

.menuItem {
  font-size: clamp(1rem, 0.743rem + 0.541vi, 1.25rem);
}

.menuItem:hover {
  color: #7c7c7c;
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    left: -15rem;
    width: 15rem;
    background-color: #585858;
    height: 16rem;
    transition: 0.4s;
  }

  .menuItems {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
  }

  .active {
    left: 0;
  }

  .iconsBox {
    display: block;
  }
}
